body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.podcast-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.itens_lista_podcast {
  display: flex;
  justify-content: space-between;
  background-color: #F0F0F0;
  height: 4vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.7vw;
}

.botao_adicionar {
  background-color: rgb(102, 173, 102);
  border: none;
  height: 3.5vh;
  border-radius: 5px;
}

.botao_adicionar:hover {
  background-color: rgb(49, 136, 49);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.botao_excluir {
  background-color: rgb(216, 107, 107);
  border: none;
  height: 3vh;
  border-radius: 5px;
}

.botao_excluir:hover {
  background-color: rgb(180, 63, 63);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.botao_editar {
  background-color: rgb(204, 204, 204);
  border: none;
  height: 3vh;
  border-radius: 5px;
}

.botao_editar:hover {
  background-color: rgb(173, 173, 173);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.itens_lista_podcast_edicao {
  border: 1px solid  rgb(145, 209, 145);
  display: flex;
  justify-content: space-between;
  height: 4vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.7vw;
}

.botao_cancelar {
  background-color: rgb(216, 107, 107);
  border: none;
  height: 3vh;
  border-radius: 5px;
}

.botao_cancelar:hover {
  background-color: rgb(180, 63, 63);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.botao_salvar {
  background-color: rgb(102, 173, 102);
  border: none;
  height: 3vh;
  border-radius: 5px;
}

.botao_salvar:hover {
  background-color: rgb(49, 136, 49);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}